# GRUB menu for the Agave Linux ISO (UEFI grub bootmode). systemd-boot is the
# primary UEFI loader; this is the GRUB alternative and the loopback target.

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ntfs
insmod ntfscomp
insmod exfat
insmod udf

if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output console
fi

insmod serial
if serial --unit=0 --speed=115200; then
    terminal_input --append serial
    terminal_output --append serial
fi

if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

default=agave
timeout=10
timeout_style=menu

menuentry "Agave Linux (%ARCH%, ${archiso_platform})" --class agave --class gnu-linux --class gnu --class os --id 'agave' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "Agave Linux, LTS kernel (%ARCH%, ${archiso_platform})" --class agave --class gnu-linux --class gnu --class os --id 'agave-lts' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "Agave Linux, Zen kernel (%ARCH%, ${archiso_platform})" --class agave --class gnu-linux --class gnu --class os --id 'agave-zen' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-zen.img
}

menuentry "Agave Linux (safe graphics) (%ARCH%, ${archiso_platform})" --hotkey s --class agave --class gnu-linux --class gnu --class os --id 'agave-safe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% nomodeset agave.safegraphics=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
