# https://www.supergrubdisk.org/wiki/Loopback.cfg
# Boot the Agave ISO from a loopback (e.g. an .iso file on a USB stick).

search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

default=agave
timeout=10
timeout_style=menu

menuentry "Agave Linux (%ARCH%, ${archiso_platform})" --class agave --class gnu-linux --class gnu --class os --id 'agave' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}"
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "Agave Linux (safe graphics) (%ARCH%, ${archiso_platform})" --hotkey s --class agave --class gnu-linux --class gnu --class os --id 'agave-safe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" nomodeset agave.safegraphics=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
